/code/old_scripts
/data
/preprocess_fmri
/code/__pycache__
/trash
/code/fMRI_simulation
/code/simulation/utils/__pycache__
/code/simulation/__pycache__
/code/analysis/utils/__pycache__
/code/analysis/__pycache__